@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans" , -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , "Noto Sans" , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji";
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none
}

.container {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}



/* start nav bar */

.content {
    background: url("../images/banner.png.webp") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.content nav {
    position: sticky;
    top: 0;
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.07);
    width: 100%;
    backdrop-filter: blur(25px);
}

.content nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
}

.content nav::before {
    content: '';
    position: absolute;
    top: 105px;
    left: 0;
    background-color: #fff;
    opacity: 0.5;
    height: 0.5px;
    width: 100%;
}

.content nav .container .logo a {
    font-size: 30px;
    color: #fff;
    position: relative;
}

.content nav .container .logo a i{
    position: absolute;
    left: 20px;
    top: 15px;
    transform: translate(-100%, -100%) rotate(-35deg);
}

.content nav .container .logo a span{
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 5px;
    font-weight: 700;
    background: linear-gradient(to right, #c94bbd , #6c40e4,  #737afb );
    font-family: 'Island Moments', cursive;
}

.content nav .container > ul {
    display: flex;
}

.content nav .container > ul li:nth-child(1){
    margin-right: 50px;
}

.content nav .container > ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    z-index: 1;
}

.content nav .container > ul li a {
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 1px;
}

.content nav .container > ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #04D2C8;
    padding: 5px 8px;
    transform:translate(-8px, -5px) skew(15deg);
    transition: .3s;
    border-radius: 3px;
    z-index: -1;
}

.content nav .container > ul li a:hover {
    color: #04D2C8;
}

.content nav .container > ul li.active a {
    color: #04D2C8;
}

.content nav .container > ul li.active a::before, 
.content nav .container > ul li a:hover::before  {
    background: #fff;
    width: 100%;
}

.content nav .container > ul li:hover ul {
    visibility: visible;
    opacity: 1;
}



.content nav .container > ul li ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    background: rgba(255, 255, 255, 0.281);
    padding: 20px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}



.content nav .container > ul li ul li {
    margin: 0;    
}

.content nav .container > ul li ul li:nth-child(1) {
    margin-bottom: 25px;
}

.content nav .container > ul li ul li a {
    color: #fff;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.content nav .container > ul li ul li a::before{
    transition: .3s;
}

.content nav .container > ul li ul li a:hover {
    color: #fff;
}

.content nav .container > ul li ul li a:hover{
    color: #04D2C8;
}

/*  */


.content nav .container .contact  a {
    color: #fff;
    transition: 0.3s
}

.content nav .container .contact i {
    margin-right: 5px
}

.content nav .container .contact  a:hover {
    color: #04D2C8;
}

.content nav .container .contact a {
    background-color: #FDAE5C;
    /* padding: 15px 24px; */
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #FDAE5C;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content nav .container .contact  a i {
    margin-right: 15px;
    font-size: 20px;
}

.content nav .container .contact  a  span{
    font-weight: 600;
}

.content nav .container .contact  a:hover {
    background-color: transparent;  
    color: #fff;  
}

/* end nav bar */

/* start landing */

/* first content */
.content .first {
    /* display: grid; */
    /* grid-template-columns: auto auto;  */
    /* grid-gap: 20px; */
    display: flex;
    align-items:center;
    height: calc(100vh - 90px);
}

.content .first .img {
    /* width: 600px; 
    margin-right: 70px; */
    width: 50%;
}

.content .first .img img {
    /* width: 600px; */
    /* object-fit: cover; */
    width: 100%;
}

.content .first .desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* transform: translate(-10%, 9%); */
    margin-top: 50px;
}

.content .first .desc h1 {
    color: #fff;
    font-weight: 700;
    font-size: 45px;
}

.content .first .desc p {
    line-height: 2;
    color: rgba(255 255 255/ 50%);
    margin-bottom: 20px;
}

.content .first .desc a {
    width: fit-content;
    display: inline-flex;
    margin: 20px 5px;
    /* padding: 15px 40px; */
    padding: 15px ;
    background-color: #04D2C8;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #04D2C8;
    transition: 0.3s;
    font-size: 18px;
}

.content .first .desc a i{
    margin-left: 30px;
    animation: MoveToRight .6s infinite alternate .2s ease-in-out;
    transform: translateX(-50%);
}

@keyframes MoveToRight {
        0%{
            transform: translateX(-50%);
        }
        100%{
            transform: translateX(10%);
        }
}
.content .first .desc a:hover {
    background-color: transparent;
}

.content .first .desc a:nth-child(2){
    background-color: transparent;
}

/* start section 1 */

.apropos  {
    /* min-height: 100vh; */
    position: relative;
    background: linear-gradient(to top, #a34dee , #4034ce);
    /* display: flex;
    align-items: center; */
}

.apropos .container {
    /* transform: translateY(-25%); */
    padding: 180px 0 250px;
    justify-content: center;
}

.apropos .container .info{
    width: 35%;
}

.apropos .container .inf {
    width: 50%;
}


.apropos  >   h1 {
    font-weight: 400;
    margin:  0;
    font-size: 40px;
    text-align: center;
    /* padding: 50px 0 100px; */
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
}

.apropos  >   h1::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.apropos  >   h1::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.apropos .container .info h1 {
    font-weight: 600;
    color: #fff;
    margin: -50px 0 0 ;
    font-size: 48px;
    margin-bottom: 80px;
    /* color: #FDAE5C; */

}


.apropos .container .info ul li {
    /*height: 30px;*/
    width: 300px;
    /* border: 1px solid #04D2C8; */
    background: rgba(255, 255, 255, 0.093);
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 30px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.3s
}


.apropos .container .info li {
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

.apropos .container .info li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10%;
    height: 100%;
    background: #04D2C8;
    padding: 5px 8px;
    transform:translate(-8px, -5px) skew(15deg);
    transition: .3s;
    border-radius: 3px;
    z-index: -1;
}

.apropos .container .info li:nth-child(1):before {
    background: #04D2C8;

}

.apropos .container .info li:nth-child(2):before, 
.apropos .container .info li:nth-child(2):after {
    background: #FDAE5C;

}


.apropos .container .info li:nth-child(3):before, 
.apropos .container .info li:nth-child(3):after {
    background: #fff;

}




.apropos .container .info li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 10%;
    height: 100%;
    background: #04D2C8;
    padding: 5px 8px;
    transform:translate(-8px, -5px) skew(15deg);
    transition: .3s;
    border-radius: 3px;
    z-index: -1;
}

.apropos .container .info a:hover {
    color: #fff;
    background-color: #04D2C8;
}

.under-container{
    /* display: grid;
    grid-template-columns: repeat(); */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    justify-content: center;
    transform: translateX(7%);
}

.apropos .container .info ul li:nth-child(1):hover {
    background-color: #04d2c863;
    color: #fff;
    /* border-color: #04D2C8;  */
}

.apropos .container .info ul li:nth-child(2):hover {
    background-color: #fdaf5c72;
    color: #fff;
    /* border-color: #FDAE5C;  */
}

.apropos .container .info ul li:nth-child(3):hover {
    background-color: rgba(255, 255, 255, 0.44);
    color: #fff;
    /* border-color: #fff;  */
}

.apropos .container .info ul li{
    cursor: pointer;
}




.apropos .container .info a {
    width: fit-content;
    /*margin: 50px 5px;*/
    padding: 15px 40px;
    background-color: transparent;
    border-radius: 30px;
    /* color: #04D2C8; */
    /* border: 1px solid #04D2C8; */
    transition: 0.3s;
    font-size: 18px;
    margin-top: 50px;
    display: inline-block;
}



.apropos .container .inf {
    position: relative;
    /* height: 100%; */
}

.apropos .container .inf div:nth-child(1) {
    position: absolute;
    top: 0%;
    left: 40%;
    font-size: 17px;
    /* background: #04D2C8; */
    background: rgba(255, 255, 255, 0.195);
    border: 2px solid #fff;
    padding: 120px 70px;
    border-radius: 50%;
    opacity: 0.8;
}

.apropos .container .inf div:nth-child(2) {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 17px;
    /* background-color: #FDAE5C; */
    background: rgba(255, 255, 255, 0.195);

    border: 2px solid #fff;
    padding: 110px 86px;
    border-radius: 50%;
    opacity: 0.8;
}



.apropos .container .inf div:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 17px;
    /* background: tomato; */
    background: rgba(255, 255, 255, 0.195);

    border: 2px solid #fff;
    padding: 100px 70px;
    border-radius: 50%;
    opacity: 0.8;
}


.apropos .container .inf div:nth-child(1) a {
    font-size: 20px;
    color: #fff;
}



.apropos .container .inf div:nth-child(2) a {
    font-size: 20px;
    color: #fff;
}


.apropos .container .inf div:nth-child(3) a {
    color: #fff;
    font-size: 20px;
}


/* start section 2 */

.sti {
    /* margin: 50px 0; */
    background: url("../images/banner.png.webp") no-repeat center center;
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    padding: 0 0 150px 0;
}

.sti .sti-content {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.sti >  h1 {
    font-weight: 400;
    margin:  0;
    font-size: 40px;
    text-align: center;
    /* padding: 50px 0 100px; */
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 150px;
}

.sti >  h1::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.sti >  h1::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}

.sti .container{
    /* padding-top: 80px; */
    /* height: 100%; */
    height: calc(100% - 46px);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.sti .sti-content{
    /* padding: 100px 0 0 ; */
}


.sti .sti-content .cours {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 60px;
}

.sti .sti-content .cours .c figure {
    padding: 20px;
    background-color: rgba(0 0 0 / 11%);
    border-radius: 25px;
}

.sti .sti-content .cours .c figure img {
    width: 200px;
} 

.sti .sti-content .cours .c{
    transition: .3s;
}

.sti .sti-content .cours .c:hover {
    transform: scale(1.1);
}

.sti .sti-content .cours .c:hover ~ .c{
    filter: blur(5px);
    overflow: hidden;
    transform: scale(0.9);
}


.sti .sti-content .cours .c figure figcaption a {
    /* padding: 18px 20px 4px; */
    padding-top: 20px;
    /* border-top: 1px solid rgba(0 0 0 /50%); */
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.sti .sti-content .cours .c figure figcaption a:hover {
    color: #04D2C8;
}

.center-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.center-btn a{
    /* background: #04D2C8; */
    color: #fff;
    padding: 15px 30px;
    border-radius: 2px;
    border: 1px solid #fff;
    box-shadow: 8px 8px 0 0 rgba(255, 255, 255, 0.138);
    transition: .3s;
}

.center-btn a:hover{
    box-shadow: 8px 8px 0 0 transparent;
    transform: translate(8px, 8px);

}


/* start pricing */

.price {
    /* height: 100vh; */
    background: linear-gradient(to top, #a34dee , #4034ce);
    position: relative;
    padding: 50px 0  20px ;
}

.price .container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* height: 70vh; */

}

.price .container > h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

.price >  h1 {
    font-weight: 400;
    margin:  0;
    font-size: 40px;
    text-align: center;
    /* padding: 50px 0 100px; */
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
}

.price > p {
    text-align: center;
    display: block;
    margin: 20px auto 20px ;
    color: #fff;
    line-height: 1.6;
    font-size: 14px;
    max-width: 60%;
}

.price >  h1::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.price >  h1::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.price .container .p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.price .container .p .box {
    padding: 0 20px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    transition: 0.3s;
    max-width: 350px;
    width: 49%;
    /*text-align: center;*/
}

.price .container .p .box ul li {
    margin: 30px 0;
    color: #fff;

}

.price .container .p .box ul li i {
    margin-right: 10px; 
    color: #fff;

}

.price .container .p .box ul li i.fa-check {
    color: #04D2C8;
}

.price .container .p .box ul li i.fa-xmark {
    color: #FDAE5C;
}

.price .container .p .box .con > h3 {
    font-weight: 400;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid #fff;
    /* margin: 10px 0; */
    padding: 25px 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 22px;
}

.price .container .p .box > a {
    display: block;
    padding: 10px 30px;
    background-color: #04D2C8;
    color: #fff;
    border-radius: 2px;
    width: fit-content;
    margin: 50px auto 25px;
    border: 1px solid #04D2C8;
    transition: 0.3s;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.price .container .p .box:nth-child(1) > a{
    background-color: transparent;
    color: #fff; 
}

.price .container .p .box > a:hover {
    background-color: transparent;
    color: #fff;
}


/* start gallery */

.gallery {
	/*position: relative;        */
    background: linear-gradient(rgb(163, 77, 238), rgb(149 74 231)); 
    /*background: url("../images/banner.png.webp") no-repeat center center;*/
    background-size: cover;
    min-height: 100vh;
	padding-top: 100px;
	text-align: center;
	padding-bottom: 100px;
}

.gallery .gallery-content > h1 {
    font-weight: 400;
    margin: 0 !important;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
	text-align: center;
	margin-bottom: 100px !important;  
}

.gallery .gallery-content > h1::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;	
}

.gallery .gallery-content > h1::after {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}

.gallery .gallery-content {
	width: 100%;
	margin: auto;
}

.gallery .gallery-content .content-img {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px;
}

.gallery .gallery-content .content-img .box img {
	width: 500px;
	height: 250px;
}




/* start section 3 */

.sub {
    position: relative;
    background: linear-gradient(rgb(163, 77, 238), rgb(149 74 231));
    padding: 100px 0 0px;
}

.sub .container .sub-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.sub >  h1 {
    font-weight: 400;
    margin:  0;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
}

.sub >  h1::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.sub >  h1::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}

.sub p{
    text-align: center;
    margin: 20px auto 20px ;
    color: #fff;
    line-height: 1.6;
    font-size: 14px;
    max-width: 60%;
    display: block;
}

.sub .container .sub-content{
    margin: 50px 0 0 ;
}

.sub .container .sub-content form {
    display: flex;
    justify-content: center;
}

.sub .container .sub-content form label i {
    color: #fff;
    padding: 15px 20px;
    outline: none;
    width: 50px;
    text-align: center;
    border: 1px solid #fff;
    border-right: 0;
}

.sub .container .sub-content form input::placeholder{
    color: #fff;

}

.sub .container .sub-content form input{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 10px 20px;
    width: 30%;
    border: 1px solid #fff;
    border-right: 0;
}


.sub .container .sub-content form button {
    outline: 0;
    border: 0;
    background: transparent;
    border-left: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    transition: .1s;
}

.sub .container .sub-content form button:hover {
    /* opacity: 0.8; */
    background: #fff;
    color: #04D2C8;
}


/* start footer */

footer {
    /* min-height: 0vh; */
    background: url(../images/banner.png.webp) center center;
    background-size: cover;
    position: relative;
    border-top: 1px solid #fff;
}

footer .head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

footer .head .logo,
footer .head .links,
footer .head .cours,
footer .head .adress {
    text-align: left;
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
}



footer .container .head .logo a {
    font-size: 30px;
    color: #fff;
    position: relative;
}

footer .container .head .logo a i{
    position: absolute;
    left: 20px;
    top: 15px;
    transform: translate(-100%, -100%) rotate(-35deg);
}

footer .container .head .logo a span{
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 5px;
    font-weight: 700;
    background: linear-gradient(to right, #c94bbd , #6c40e4,  #737afb );
    font-family: 'Island Moments', cursive;
}





footer .head .links {
    margin-left: 50px;
}


footer .info-f {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 30px;
} 

footer .info-f .descr p {
    line-height: 1.8;
    color: rgba(255 255 255 / 50%);
}

footer .info-f .descr .social ul {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: left;
}

footer .info-f .descr .social ul li a {
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(253, 253, 253);
    /* background-color: #fff; */
    color: #fff;
    transition: 0.3s;
}
 

footer .info-f .descr .social ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

footer .info-f .links-l {
    margin-left: 50px;
}

footer .info-f .links-l ul {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

footer .info-f .links-l ul li {
    display: inline-block;
    margin-bottom: 20px;
}

footer .info-f .links-l ul li a {
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

footer .info-f .links-l ul li a:hover {
    opacity: 0.7;
}
footer .info-f .cours-c ul {
    display: flex;
    flex-direction: column;
}
footer .info-f .cours-c ul li {
    display: inline-block;
    margin-bottom: 20px;
}
footer .info-f .cours-c ul li a {
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}
footer .info-f .cours-c ul li a:hover {
    opacity: 0.7;
}
footer .info-f .adress-a address {
    color: #fff;
    line-height: 1.8;
} 
footer .container hr {
    margin-top: 80px;
    background-color: rgba(0 0 0 / 50%);
    opacity: 0.5;
}
footer .container .copyright {
    margin-top: 30px;
    text-align: center;
    color: rgba(255, 255, 255);
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
footer .container .copyright span:nth-child(1) {
    color: hotpink;
    margin: 0 5px;
}
footer .container .copyright span:nth-child(2) {
    color:#04D2C8;
    text-decoration: underline;
    margin-left: 5px;
    text-transform: uppercase;  
    font-weight: 600;
}



/*  Time Line */



/* time line */


:root{
    --background-year:#fff;
    --color-year:#9d9da7;
    --color-line:#66b9ba;
}


/* .content .first {
    font-size: 4rem !important;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    transform: translateY(200%);
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    padding: 10px;
    -webkit-background-clip: text;
    background-position: -1200px 0;
    animation: bgc 5s linear infinite alternate;
} */

/* @keyframes bgc {
    100% {
        background-position: 0 0;
    }
}

.content .first p {
    font-size: 4rem !important;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
} */




.Main-Time{
  
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: #212121; */
    /* background-color: #e6e4e4; */
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 0 0 60px 0;
    background: linear-gradient(to top, #a34dee , #a34dee);
    background-size: cover;
    position: relative;
}

.container-Time-Line{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 100px auto;
}

.Main-Time > h1{
	margin-top: 50px;
    margin-bottom: 80px;
    color: #000;
    font-weight: 300;
    position: relative;
    text-align: center;
}

.Main-Time >  h1 {
    font-weight: 400;
    margin:  0;
    font-size: 40px;
    text-align: center;
    /* padding: 50px 0 100px; */
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
}

.Main-Time >  h1::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.Main-Time >  h1::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}

.Main-Time p{
    text-align: center;
    margin: 20px auto 20px ;
    display: block;
    margin-top: 10px;
    color: #fff;
    line-height: 1.6;
    font-size: 14px;
    max-width: 60%;
}

/* .Main-Time h1::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 401;
    height: 3px;
    border-radius: 10px;
    background:#000 ;
}

.Main-Time h1::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;1    height: 2px;
    border-radius: 10px;
    background:#000 ;
} */


/* .lastLine{
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 3px;
    border-radius: 10px;
    background:#000 ;
} */



.timeLine{
    width: 80%;
}

@media (max-width : 992px) {
    .timeLine{
        width: 90%;
    }    
}

@media (max-width : 768px) {
    .timeLine{
        width: 98%;
    }    
}

.time{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    transition: .3s;
    overflow: hidden;
    max-height: 1000px;
}

.col-2{
    width: 2%;
    height: 200vh;
}

.col-1 , 
.col-3{
    width: 49%;
    color: #dcd9d4;
}

.col-1{
    text-align: right;
    padding-right: 30px;
}

.col-3{
    padding-left:30px;
}


.time.yearly{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}


.year span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    background:var(--color-year) ;
    color: #fff;
    padding:7px 20px;
    border-radius: 5px;
}


.time.add{
    display: flex;
    align-items: center;
    max-height: 130px;
}


.time.add.before{
    max-height: 200px; 
}

.col-2 .pointBreak{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.col-2 .pointBreak .point{
    width: 6px !important;
    height: 6px !important;
    background-color: var(--color-line);;
    border-radius: 50%;
    margin: 4px 0;
}

.line-height{
    height: 20%;
    width: 2px;
    background-color:var(--color-line);

}

span{
    display: block;
}


.date{
    color:#fff;
    font-size: 13px;
}


.Tooltip{
    width: fit-content;
    padding: 20px 20px 10px;
    background-color: rgba(255, 255, 255, 0.207);
    display: flex;
    border-radius: 5px;
    position: relative;
    transform: translateY(10%);
    max-width: 90%;
}
.icon{
    width: 35px;
    height: 35px;

    font-size: 27px;
}

.Tooltip.left .icon{
    margin-right: 20px;
}

.Tooltip.right .icon{
    margin-left: 20px;
}


h2{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

p{
    font-size: 14px;
    color: #c0c0c6;
}

.Tooltip::after{
    content: '';
    position: absolute;
    top: 40%;
    border-width: 10px;
    border-style: solid;
}

.Tooltip.right::after{
    transform: translate(50% , -50%);
    right: -10px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.207);;
}

.Tooltip.left::after{
    border-color: transparent rgba(255, 255, 255, 0.207) transparent  transparent;
    left: -10px;
    transform: translate(-50%,-50%);
}

.time.yearly.last{
    display: flex;
    flex-direction: column;

}

.time.yearly.last .year{
    display: flex;
    justify-content: center;
}


.time.yearly.last .div{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.Tooltip.top{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.Tooltip.top::after{
    content: '';
    position: absolute;
    top: -10px;
    border-width: 10px;
    border-style: solid;
    transform: translate(-50% , -50%);
    left: 50%;
    border-color: transparent   transparent rgba(255, 255, 255, 0.207)  transparent ;    
}





.time.right .col-1{
    display: flex;
    justify-content: flex-end;
}



/*  Contact */


.contact-section {
    /* min-height: 50vh; */
    padding: 100px 0;
    background: linear-gradient(to top, #a34dee , #964ae8);

}
.contant-contact{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contact-section .concepteur {
    width: fit-content;
    background: rgba(251, 251, 251, 0.28);
    border-radius: 20px;
    position: relative;
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.contact-section > h1{
	margin-top: 50px;
    margin-bottom: 80px;
    color: #000;
    font-weight: 300;
    position: relative;
    text-align: center;
}

.contact-section >  h1 {
    font-weight: 400;
    margin:  0;
    font-size: 40px;
    text-align: center;
    /* padding: 50px 0 100px; */
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
}

.contact-section >  h1::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}


.contact-section >  h1::after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #fff;
    width: 28%;
}

.contact-section > p{
    text-align: center;
    display: block;
    margin: 20px auto 20px ;
    margin-top: 10px;
    color: #fff;
    line-height: 1.6;
    font-size: 14px;
    max-width: 60%;
}

.contact-section .concepteur .info-concepteur {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    /* margin: 20px 20px 20px 100px ; */
}

.contact-section .concepteur .info-concepteur .nom,
.contact-section .concepteur .info-concepteur .Linked-In,
.contact-section .concepteur .info-concepteur .email {
    padding: 10px;
}

.contact-section .concepteur .info-concepteur p {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}

.contact-section .concepteur .info-concepteur p a {
    text-decoration: none;
    color: #fff;
}

.contact-section .concepteur .info-concepteur p a:hover {
    color: #000;
    /* text-decoration: underline; */
}

.contact-section .concepteur .info-concepteur span {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

span, p {
    display: inline-block;
}

.contact-section .concepteur .img-concepteur {
    max-width: 300px;
    position: relative;
    padding: 20px;
}

.contact-section .concepteur .img-concepteur img {
    max-width: 100%;
    border-radius: 20px;
}